x-logging: &default-logging
  driver: loki
  options:
    loki-url: '모니터링 주소'
    loki-pipeline-stages: |
      - multiline:
          firstline: '^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}.\d{3}'
          max_wait_time: 3s
      - regex:
          expression: '^(?P<date>\d{4}-\d{2}-\d{2}) (?P<time>\d{2}:\d{2}:\d{2}.\d{3}) (?P<message>(?s:.*))$$'

version: "3.4"

services:
  app-mapshot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app-mapshot
    ports:
      - "8080:8080"
    env_file:
      - environment.env
    #    volumes:
    #      - db매핑
    #      - 오픈텔레메트리 매핑
    environment:
      - JVM_OPTS=-Xmx400m -Xms400m
      #      - JAVA_TOOL_OPTIONS -javaagent:./otelagent/opentelemetry-javaagent.jar
      - TZ=Asia/Seoul
      #      - OTEL_EXPORTER_OTLP_ENDPOINT=모니터링 주소 # send traces to Tempo
      - OTEL_SERVICE_NAME=app-mapshot # service name for Span
      - OTEL_RESOURCE_ATTRIBUTES=compose_service=app-mapshot # add custom resource attribute to Span for Grafana Trace to Logs feature
      - OTEL_METRICS_EXPORTER=none # disable metrics exporter
      - MANAGEMENT_METRICS_TAGS_APPLICATION=app-mapshot # override default value of management.metrics.tags.application in app/src/main/resources/application.properties
    deploy:
      resources:
        limits:
          memory: 512M
    logging: *default-logging