<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="margin: 0px">
<div id="checker">
</div>
<div id="map">

</div>


<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=46d97694c5e976ec8af172aebc94c130"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var level = parseInt([[${mapRequest.level}]]);
    var lat = parseFloat([[${mapRequest.lat}]]);
    var lng = parseFloat([[${mapRequest.lng}]]);
    var type = ([[${mapRequest.type}]]);
    var layerMode = Boolean([[${mapRequest.layerMode}]]);
    var neLat = ([[${mapRequest.neLat}]]);
    var neLng = ([[${mapRequest.neLng}]]);

    /*]]>*/

    // var goalWidth;
    var zoomLevel;
    var maptype;
    var defaultWidth = 500;
    var dynamicWidth = defaultWidth;

    if (type === "basic") {
        maptype = kakao.maps.MapTypeId.ROADMAP;
    } else if (type === "satellite_base") {
        maptype = kakao.maps.MapTypeId.SKYVIEW;
    } else if (type === "satellite") {
        maptype = kakao.maps.MapTypeId.HYBRID;
    }

    switch (level) {
        case 1:
            zoomLevel = 2;
            // goalWidth = 5000;
            break;
        case 2:
            zoomLevel = 3;
            // goalWidth = 4000;
            break;
        case 5:
            zoomLevel = 4;
            // goalWidth = 5000;
            break;
        case 10:
            zoomLevel = 5;
            // goalWidth = 5000;
            break;
        default:
            break;
    }
    var container = document.getElementById('map');
    var options = {
        center: new kakao.maps.LatLng(lat, lng),
        level: zoomLevel,
        draggable: false,
        zoomable: false,
    };

    container.style.height = dynamicWidth + "px";
    container.style.width = dynamicWidth + "px";

    var map = new kakao.maps.Map(container, options);
    map.setMapTypeId(maptype);

    if (layerMode === true) {
        map.addOverlayMapTypeId(kakao.maps.MapTypeId.USE_DISTRICT);
    }

    // 지도를 일부러 더 크게 만든 후
    // 나중에 축소시켜서 지도 타일 로딩이 안되는 현상을
    // 최대한 방지한다

    var intervalCount = 0;
    var finalLoading = false;
    var endLoading = false;


    var timerId = setInterval(function () {

        intervalCount++;
        map.setCenter(new kakao.maps.LatLng(lat, lng));
        map.relayout();

        // 지도의 현재 영역을 얻어옵니다
        var bounds = map.getBounds();

        // // 영역의 남서쪽 좌표를 얻어옵니다
        // var swLatLng = bounds.getSouthWest();

        // 영역의 북동쪽 좌표를 얻어옵니다
        var neLatLng = bounds.getNorthEast();

        var nowNeLat = neLatLng.getLat();
        var nowNeLng = neLatLng.getLng()

        if (nowNeLat <= neLat && nowNeLng <= neLng && !finalLoading) {
            dynamicWidth += defaultWidth;

        } else if ((nowNeLat > neLat || nowNeLng > neLng) && !finalLoading) {
            finalLoading = true;
            // var sw = new kakao.maps.LatLng(swLat, swLng),
            //     ne = new kakao.maps.LatLng(neLat, neLng);
            //
            // var newBounds = new kakao.maps.LatLngBounds(sw, ne); // 인자를 주지 않으면 빈 영역을 생성한다.
            //
            // map.setBounds(newBounds, 10, 10, 10, 10);
            //
            // console.log("바운더리 재설정", sw, ne, newBounds);
            //     자동으로 보정이 들어가서 원하는 값 설정이 어렵다

        } else if (finalLoading && !endLoading) {
            endLoading = true;
        } else if (endLoading) {
            document.getElementById("checker").setAttribute("id", "checker_true");
            clearInterval(timerId);
        }

        container.style.height = dynamicWidth + "px";
        container.style.width = dynamicWidth + "px";

        if (intervalCount >= 20) {
            document.getElementById("checker").setAttribute("id", "checker_true");
            clearInterval(timerId);
        }

    }, 500);

</script>
</body>
</html>